<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="assimp-v143" version="5.4.3" targetFramework="native" />
  <package id="directxmesh_uwp" version="2025.3.25.2" targetFramework="native" />
  <package id="directxtex_uwp" version="2025.3.25.2" targetFramework="native" />
  <package id="directxtk12_uwp" version="2025.3.21.3" targetFramework="native" />
  <package id="WinPixEventRuntime" version="1.0.240308001" targetFramework="native" />
</packages>